.btn {
  display: flex;
  justify-content: center;

  //effet du bouton
  & .dot {
        @include dot;
      }

  &__txt {
    padding: 0.5em 1.5em;
    font-weight: normal;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 0.5em;
    @include headerStyle;
    @include desktop-only {
      font-size: 1.6rem;
    }

    .dot {
      display: inline-block;
      background: $txt-color;
      border-radius: 50%;
      
      @include desktop-only {
        width: 5px;
        height: 5px;
      }
    }
  }
}
