// media query mobile first
@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
  }

@mixin headerStyle {
    color: $txt-color;
    background: $color-primary;
    font-family: $txt-head-tittle;
}

@mixin grad-menu($direction: 160deg, $color1:$grad-color-menu2-start, $color2:$grad-color-menu2-end) {
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(
    $direction,
    $color1,
    $color2
  );
}