$color-primary: #599d87;
$menu-bg1: #fbdfdb;
$menu-bg2: #fff5fe;
$menu-bg3: #edefef;
$menu-bg4: #fdfffd;
$btn-color: #2ec4b6;
$txt-color: #facf49;
$txt-color-menu1: #3c1319;
$txt-color-menu2: #C67412;
$grad-color-menu2-start: #C67412;
$grad-color-menu2-end: #A56799;
$color-plats-menu2: #C67412, #A56799, #6E4CCC;
$grad-color-menu3-start: #2602df;
$grad-color-menu3-midd: #2b64f2;
$grad-color-menu3-end: #3896f8;
$grad-color-menu4-start: #3d943a;
$grad-color-menu4-end: #bdff80;
$txt-head-tittle:'Montserrat', sans-serif; 
$txt-menu1-menu: 'Komika', cursive;
$txt-menu2-menu: 'Queens Park', serif;
$txt-menu1-title: 'Devonshire', cursive;
$txt-menu2-title: 'Croissant One', cursive;
$txt-menu3-title: 'Dancing Script', cursive;
$txt-menu4-title: 'Kaushan Script', cursive;
$txt-size-header: 4em;
$txt-size-header-menu: 10em;
$txt-size-footer: 1.5em;


// Map: Breakpoints pour le responsive
$breakpoints: (
    desktop: 700px
);