@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script&family=Devonshire&family=Kaushan+Script&family=Montserrat:wght@300;900&display=swap");
@import url(//db.onlinewebfonts.com/c/913440ba1b89bec89e21e3b93c0d0e34?family=Queens+Park);
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes point {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: 'Komika';
  src: url(/assets/fonts/Komika.ttf);
}

* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

main {
  display: block;
  margin-top: 80px;
}

@media screen and (min-width: 480px) {
  main {
    margin: 8rem 3% 8rem 3%;
  }
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  color: #facf49;
  background: #599d87;
  font-family: "Montserrat", sans-serif;
}

.header__title {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  line-height: 2.5em;
  font-weight: bold;
  letter-spacing: -0.1em;
}

@media screen and (min-width: 480px) {
  .header__title {
    font-size: 3rem;
  }
}

.menu-grille {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 20px;
  max-width: 800px;
  margin: auto;
}

.menu-grille__bloc {
  width: 350px;
  height: 510px;
  margin: 0 10px 50px 10px;
  box-shadow: 0 0 10px #a6a6a0;
  text-align: center;
  transition: opacity 400ms ease-in-out;
  overflow: hidden;
  z-index: 1;
}

@media screen and (min-width: 480px) {
  .menu-grille__bloc {
    margin: 0 20px 50px 20px;
  }
}

.menu-grille__bloc a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.menu-grille__bloc h2 {
  font-size: 1.9rem;
  line-height: 1.9em;
  font-weight: 400;
  margin: 15px 0;
}

.menu-grille__bloc p {
  font-size: 2.8rem;
  margin: 0;
}

.menu-grille__bloc .zoom {
  transition: transform 400ms ease-in-out;
}

.menu-grille__bloc:hover .zoom {
  transform: scale(1.15);
}

.menu-grille__bloc:hover {
  opacity: 0.5;
}

.menu-grille__bloc--note {
  background: #fbdfdb;
  color: #3c1319;
}

.menu-grille__bloc--note img {
  width: 100px;
  height: 100px;
}

.menu-grille__bloc--note h2 {
  font-family: "Devonshire", cursive;
  margin-top: -70px;
}

.menu-grille__bloc--note p {
  font-family: "Komika", cursive;
  text-transform: uppercase;
  font-style: italic;
}

.menu-grille__bloc--chic {
  background: #fff5fe;
  color: #C67412;
}

.menu-grille__bloc--chic h2 {
  font-family: "Croissant One", cursive;
  font-size: 1.4em;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(0.25turn, #C67412, #6E4CCC);
}

.menu-grille__bloc--chic p {
  font-family: "Queens Park", serif;
  font-weight: bold;
}

.menu-grille__bloc--delice {
  background: #fbfbfb;
}

.menu-grille__bloc--delice h2 {
  font-family: "Dancing Script", cursive;
  font-size: 2.2em;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(160deg, #2602df, #3896f8);
}

.menu-grille__bloc--delice p {
  font-family: "Komika", cursive;
  color: #3896f8;
}

.menu-grille__bloc--palette {
  background: #fdfffd;
}

.menu-grille__bloc--palette h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 2.2em;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(160deg, #3d943a, #bdff80);
}

.menu-grille__bloc--palette p {
  font-family: "Komika", cursive;
  font-style: italic;
  color: #71c66e;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn .dot {
  animation: point 1.7s ease-in-out infinite;
}

.btn .dot:nth-child(2) {
  animation-delay: 0.2s;
}

.btn .dot:nth-child(3) {
  animation-delay: 0.2s;
}

.btn__txt {
  padding: 0.5em 1.5em;
  font-weight: normal;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 0.5em;
  color: #facf49;
  background: #599d87;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 480px) {
  .btn__txt {
    font-size: 1.6rem;
  }
}

.btn__txt .dot {
  display: inline-block;
  background: #facf49;
  border-radius: 50%;
}

@media screen and (min-width: 480px) {
  .btn__txt .dot {
    width: 5px;
    height: 5px;
  }
}

.footer {
  z-index: 1;
  margin-top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.4rem 0;
  font-weight: 300;
  font-size: 1.1rem;
  position: fixed;
  color: #facf49;
  background: #599d87;
  font-family: "Montserrat", sans-serif;
}

.footer__txt {
  text-align: center;
}

@media screen and (min-width: 480px) {
  .footer__txt {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-size: 1.4rem;
  }
}

.footer__txt a {
  display: block;
  padding: 0.3em 1.2em;
}

.footer__txt a:hover {
  animation: shake 100ms;
  animation-iteration-count: 20;
}

@keyframes shake {
  from {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}

.menu {
  max-width: 800px;
}

@media screen and (min-width: 480px) {
  .menu {
    margin: auto;
    margin-top: 150px;
  }
}

.menu__bloc {
  padding: 30px 30px 150px 30px;
}

@media screen and (min-width: 480px) {
  .menu__bloc {
    padding: 150px 80px;
    box-shadow: 0 0 10px #a6a6a0;
  }
}

.menu__bloc h3 {
  margin: 0;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 400;
}

.menu__bloc .plats {
  position: relative;
  margin: 75px 0 15px 0;
  text-align: center;
  font-size: 1.7rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu__bloc .plats:first-of-type {
  margin-top: 50px;
}

@media screen and (min-width: 480px) {
  .menu__bloc .plats {
    flex-direction: row;
  }
}

.menu__bloc .plats__separator {
  display: inline-block;
  width: 30%;
  height: 1em;
}

.menu__bloc .plats__separator--after {
  transform: scaleX(-1);
}

.menu__bloc .plats-detail {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .menu__bloc .plats-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: left;
  }
}

.menu__bloc--note {
  background: #fbdfdb;
  color: #3c1319;
  font-family: "Komika", cursive;
  font-style: italic;
  padding: 30px 30px 100px 30px;
}

.menu__bloc--note h3 {
  font-family: "Devonshire", cursive;
  font-style: normal;
}

.menu__bloc--note h3 img {
  width: 100px;
  height: 100px;
}

.menu__bloc--note .plats__separator {
  background: center/contain no-repeat url(../images/menu1-bar.svg);
}

.menu__bloc--note .plats--souligne {
  margin: 0;
  position: relative;
}

.menu__bloc--note .plats--souligne::after {
  content: "";
  background: #3c1319;
  position: absolute;
  bottom: -0.1em;
  right: 0;
  left: 0;
  height: 2px;
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: opacity 400ms, transform 600ms;
}

.menu__bloc--note .plats--souligne:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.menu__bloc--note .title-bottom {
  margin-top: 50px;
  text-align: center;
  font-family: "Devonshire", cursive;
  font-style: normal;
  font-size: 2.5rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.menu__bloc--note .title-bottom img {
  width: 40px;
  margin-right: 15px;
}

.menu__bloc--chic {
  background: #fff5fe;
  font-family: "Queens Park", serif;
}

.menu__bloc--chic h3 {
  font-family: "Croissant One", cursive;
  font-size: 2rem;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(160deg, #C67412, #6E4CCC);
}

.menu__bloc--chic .bloc-plats {
  margin-left: 10%;
  margin-right: 10%;
}

.menu__bloc--chic .plats {
  font-size: 1.3rem;
  font-weight: 700;
}

.menu__bloc--chic .plats__separator--1 {
  background: center/contain no-repeat url(../images/menu2-bar-1.svg);
}

.menu__bloc--chic .plats--color1 {
  color: #C67412;
}

.menu__bloc--chic .plats--color1 h4 {
  margin: 0;
  position: relative;
}

.menu__bloc--chic .plats--color1 h4::after {
  content: "";
  background: #3c1319;
  position: absolute;
  bottom: -0.1em;
  right: 0;
  left: 0;
  height: 2px;
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: opacity 400ms, transform 600ms;
}

.menu__bloc--chic .plats--color1 h4:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.menu__bloc--chic .plats--color1 h4::after {
  background: #C67412;
}

.menu__bloc--chic .plats__separator--2 {
  background: center/contain no-repeat url(../images/menu2-bar-2.svg);
}

.menu__bloc--chic .plats--color2 {
  color: #A56799;
}

.menu__bloc--chic .plats--color2 h4 {
  margin: 0;
  position: relative;
}

.menu__bloc--chic .plats--color2 h4::after {
  content: "";
  background: #3c1319;
  position: absolute;
  bottom: -0.1em;
  right: 0;
  left: 0;
  height: 2px;
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: opacity 400ms, transform 600ms;
}

.menu__bloc--chic .plats--color2 h4:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.menu__bloc--chic .plats--color2 h4::after {
  background: #A56799;
}

.menu__bloc--chic .plats__separator--3 {
  background: center/contain no-repeat url(../images/menu2-bar-3.svg);
}

.menu__bloc--chic .plats--color3 {
  color: #6E4CCC;
}

.menu__bloc--chic .plats--color3 h4 {
  margin: 0;
  position: relative;
}

.menu__bloc--chic .plats--color3 h4::after {
  content: "";
  background: #3c1319;
  position: absolute;
  bottom: -0.1em;
  right: 0;
  left: 0;
  height: 2px;
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: opacity 400ms, transform 600ms;
}

.menu__bloc--chic .plats--color3 h4:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.menu__bloc--chic .plats--color3 h4::after {
  background: #6E4CCC;
}

.menu__bloc--delice {
  background: #edefef;
  font-family: "Komika", cursive;
  color: black;
}

.menu__bloc--delice h3 {
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #2602df, #3896f8);
}

.menu__bloc--delice .bloc-plats {
  margin-left: 10%;
  margin-right: 10%;
}

.menu__bloc--delice h4 {
  font-weight: 200;
}

.menu__bloc--delice .plats {
  font-size: 1.3rem;
}

.menu__bloc--delice .plats--souligne1 {
  margin: 0;
  position: relative;
}

.menu__bloc--delice .plats--souligne1::after {
  content: "";
  background: #3c1319;
  position: absolute;
  bottom: -0.1em;
  right: 0;
  left: 0;
  height: 2px;
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: opacity 400ms, transform 600ms;
}

.menu__bloc--delice .plats--souligne1:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.menu__bloc--delice .plats--souligne1::after {
  background: #2602df;
}

.menu__bloc--delice .plats--souligne2 {
  margin: 0;
  position: relative;
}

.menu__bloc--delice .plats--souligne2::after {
  content: "";
  background: #3c1319;
  position: absolute;
  bottom: -0.1em;
  right: 0;
  left: 0;
  height: 2px;
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: opacity 400ms, transform 600ms;
}

.menu__bloc--delice .plats--souligne2:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.menu__bloc--delice .plats--souligne2::after {
  background: #2b64f2;
}

.menu__bloc--delice .plats--souligne3 {
  margin: 0;
  position: relative;
}

.menu__bloc--delice .plats--souligne3::after {
  content: "";
  background: #3c1319;
  position: absolute;
  bottom: -0.1em;
  right: 0;
  left: 0;
  height: 2px;
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: opacity 400ms, transform 600ms;
}

.menu__bloc--delice .plats--souligne3:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.menu__bloc--delice .plats--souligne3::after {
  background: #3896f8;
}

.menu__bloc--delice .plats__separator--after {
  transform: scaleX(-1);
}

.menu__bloc--delice .plats__separator--1 {
  background: center/contain no-repeat url(../images/menu3-bar-1.svg);
}

.menu__bloc--delice .plats__separator--2 {
  background: center/contain no-repeat url(../images/menu3-bar-2.svg);
}

.menu__bloc--delice .plats__separator--3 {
  background: center/contain no-repeat url(../images/menu3-bar-3.svg);
}

.menu__bloc--palette {
  background: #fdfffd;
  color: black;
  font-family: "Komika", cursive;
  font-style: italic;
}

.menu__bloc--palette .bloc-plats {
  margin-left: 5%;
  margin-right: 5%;
}

.menu__bloc--palette h3 {
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  padding-bottom: 20px;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(160deg, #3d943a, #bdff80);
}

.menu__bloc--palette h4 {
  font-weight: 400;
  font-size: 1em !important;
}

.menu__bloc--palette .plats__separator {
  background: center/contain no-repeat url(../images/menu4-bar.svg);
}

.menu__bloc--palette .plats h4 {
  font-size: 1rem;
}

.menu__bloc--palette .plats--souligne {
  margin: 0;
  position: relative;
}

.menu__bloc--palette .plats--souligne::after {
  content: "";
  background: #3c1319;
  position: absolute;
  bottom: -0.1em;
  right: 0;
  left: 0;
  height: 2px;
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: opacity 400ms, transform 600ms;
}

.menu__bloc--palette .plats--souligne:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.menu__bloc--palette .plats--souligne::after {
  background: #3d943a;
}

.mentions {
  font-family: "Komika", cursive;
}

.mentions div {
  background-color: #edefef;
}

.mentions h3 {
  margin-bottom: 50px;
}

.mentions p {
  text-align: justify;
}
/*# sourceMappingURL=style.css.map */