.footer {

  z-index: 1;
  margin-top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.4rem 0;
  font-weight: 300;
  font-size: 1.1rem;
  @include desktop-only{
   position: fixed;
  }
  @include headerStyle; //style commun au header, footer, CTA

  &__txt {
    text-align: center;
    @include desktop-only {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 0.5rem 0;
      font-size: 1.4rem;
    }

    a {
      display: block;
      padding: 0.3em 1.2em;
      &:hover {
        animation: shake 100ms ;
        animation-iteration-count: 20;  //nombre de cycles avant arrêt
        @keyframes shake {
          from {
            transform: rotate(3deg);
          }
          to {
            transform: rotate(-3deg);
          }
        }
      }
    }
  }
}
